



.board {
    width: 500px;
    aspect-ratio: 1;
    border: solid 1px black;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto; 
    justify-content: space-around;
    background-color: #fda403;
}

.grid-square {
    border: solid 1px black;
    background-color: #c51350;
    width: 100px;
    aspect-ratio: 1;
    border-radius: 25px;
    margin: 10px;
    font-size: 3em;
    text-align: center;
    transition: transform 1s ease;
}

.turned{
    transform: rotateX(360deg);
  }

/* .turnedZ{
    transform: rotateZ(360deg);
  } */
  /* .card.turned .back {
    transform: rotateY(180deg);
  } */

.game-finished{
  background-color: #c51350;
  margin: auto;
  width: 90%;
  height: 90%;
  align-items: center;
  text-align: center;
  border-radius: 25%;
}
